[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=qml_cpp
Exec=/opt/qml_cpp/bin/qml_cpp
Icon=qml_cpp64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
